#main-container{
    font-family: Arial;
    font-size: 16px;
}
.peli{
    max-width: 100%;
}
.tabla{
    display:block;
    background-color:#9f69122d;
    border: 3px;
    border-style: ridge;
    border-color: #9f6a12;
    margin: auto;
    width:50%;
}
h1{
    padding: 0 20px 0px 20px;
    text-align: center;
}
.presentacion{
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    display: flex;
}
.col-25{
    margin: auto;
}
.col-75{
    margin: auto;
    width: 75%;
}
.sinopsis{
    text-align: justify;
}
.op{
    width: 100%;
    font-size: 14px;
}
.op1{
    float: left;
}
.op2{
    float: right;
}
.imagen{
    min-width: 230px;
    max-width: 230px;
}
.Post-detail{
    padding-left: 33%;
    padding-right: 33%;
}
.EditarPost{
    background-color: #bab700;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: left;
}
.EditarPost:hover{
    background-color: #bab70086;
}
.EliminarPost{
    background-color: #ba0000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: right;
}
.EliminarPost:hover{
    background-color: #ba000077;
}
@media screen and (max-width: 900px){
    .Post-detail{
        padding-left: 2%;
        padding-right: 2%;
    }
}
@media screen and (max-width: 800px){
    .col-75{
        width: 100%;
    }
}