{% extends "base_generic.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/galeria.css' %}"> <!-- CSS Galeria -->
{% endblock %}

{% block content %}
<main id="main-container">
    <!-- GALERIA -->
    <section id="galeria">
        <h2>Grupos de Discusión</h2>
        <!-- LISTADO DE PELICULAS -->
        <article class="pelicula">
            <h5>El Conformista (1970)</h5>
            <a href="#">
                <img src="{% static 'images/ElConformista-340px.jpg' %}" alt="El Conformista"> 
            </a>
        </article>
        
        <article class="pelicula"> 
            <h5>Sr. Nadie (2009)</h5>
            <a href="#">
                <img src="{% static 'images/MrNobody-340px.jpg' %}" alt="Sr. Nadie">
            </a>
        </article>
        
        <article class="pelicula">
            <h5>Había una vez en Hollywood (2019)</h5> 
            <a href="#">
                <img src="{% static 'images/OUTH-340px.jpg' %}" alt="Habia Una Vez en Hollywood">
            </a>
        </article>

        <article class="pelicula"> 
            <h5>Ella (2013)</h5>
            <a href="#">
                <img src="{% static 'images/Ella-340px.jpg' %}" alt="Ella">
            </a>
        </article>
        
        <article class="pelicula">
            <h5>La sociedad de los poetas muertos (1989)</h5>
            <a href="#">
                <img src="{% static 'images/SPM-340px.jpg' %}" alt="Sociedad de los poetas muertos">
            </a>
        </article>
        
        <article class="pelicula">
            <h5>Suspiria (2018)</h5>
            <a href="#">
                <img src="{% static 'images/suspiria2018-340px.jpg' %}" alt="Suspiria"> 
            </a>
        </article>
            
        <article class="pelicula"> 
            <h5>Sin lugar para los débiles (2007)</h5>
            <a href="#">
                <img src="{% static 'images/slpld-340px.jpg' %}" alt="Sin Lugar Para los Débiles">
            </a>
        </article>
            
        <article class="pelicula"> 
            <h5>Llámame por tu nombre (2017)</h5>
            <a href="#">
                <img src="{% static 'images/llamameportunombre-340px.jpg' %}" alt="Llámame por tu nombre">
            </a>
        </article>
    </section>
</main>
{% endblock %}