{% extends "base_generic.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/galeria.css' %}"> <!-- CSS Galeria -->
{% endblock %}

{% block content %}
<main id="main-container">
    <form class="Post" action="{% url 'crear-post' %}">
        <input class="btnPost" type="submit" value="Crear Post" />
    </form>
    <!-- GALERIA -->
    <section id="galeria">
        <h2>Grupos de Discusión</h2>
        {% if topic_list %}
            {% for topic in topic_list %}
            <!-- LISTADO DE PELICULAS -->
            <article class="pelicula">
                <h5>{{topic.titulo}}({{topic.anho_estreno}})</h5>
                <a href="{{topic.get_absolute_url}}">
                    {% if topic.portada %}
                    <img src="{{topic.portada.url}}" alt="{{topic.titulo}}"> 
                    {% else %}
                    <h6>{{topic.titulo}}</h6>
                    {% endif %}
                </a>
            </article>
            {% endfor %}
        {% else %}
            <p>No hay Topics registrados</p>
        {% endif %}
    </section>
</main>
{% endblock %}